<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398671933663-qd2l8cntu434fv22ihb1k3h9j3v69ame.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398671933663-qd2l8cntu434fv22ihb1k3h9j3v69ame</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>398671933663-ltrpq80gf17mgti84062b2jlbpsocjcs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcDntgLxUiUaTvfLp9KHtb9vACxWYBRXU</string>
	<key>GCM_SENDER_ID</key>
	<string>398671933663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mogohary99.socialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-80133</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-80133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398671933663:ios:5d5a2ca35044e76648396a</string>
</dict>
</plist>